<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysJobTitleMapper">

    <resultMap type="SysJobTitle" id="SysJobTitleResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="registrationFee"    column="registration_fee"    />
        <result property="workDays"    column="work_days"    />
    </resultMap>

    <sql id="selectSysJobTitleVo">
        select id, name, registration_fee, work_days from sys_job_title
    </sql>

    <select id="selectSysJobTitleList" parameterType="SysJobTitle" resultMap="SysJobTitleResult">
        <include refid="selectSysJobTitleVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <select id="selectSysJobTitleById" parameterType="Long" resultMap="SysJobTitleResult">
        <include refid="selectSysJobTitleVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysJobTitle" parameterType="SysJobTitle" useGeneratedKeys="true" keyProperty="id">
        insert into sys_job_title
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="registrationFee != null">registration_fee,</if>
            <if test="workDays != null and workDays != ''">work_days,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="registrationFee != null">#{registrationFee},</if>
            <if test="workDays != null and workDays != ''">#{workDays},</if>
        </trim>
    </insert>

    <update id="updateSysJobTitle" parameterType="SysJobTitle">
        update sys_job_title
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="registrationFee != null">registration_fee = #{registrationFee},</if>
            <if test="workDays != null and workDays != ''">work_days = #{workDays},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysJobTitleById" parameterType="Long">
        delete from sys_job_title where id = #{id}
    </delete>

    <delete id="deleteSysJobTitleByIds" parameterType="String">
        delete from sys_job_title where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>