<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hospital.mapper.HosJobTitleMapper">

    <resultMap type="HosJobTitle" id="HosJobTitleResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="registrationFee"    column="registration_fee"    />
        <result property="workDays"    column="work_days"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectHosJobTitleVo">
        select id, name, registration_fee, work_days, is_deleted, create_time, update_time from hos_job_title
    </sql>

    <select id="selectHosJobTitleList" parameterType="HosJobTitle" resultMap="HosJobTitleResult">
        <include refid="selectHosJobTitleVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>

    <select id="selectHosJobTitleById" parameterType="Long" resultMap="HosJobTitleResult">
        <include refid="selectHosJobTitleVo"/>
        where id = #{id}
    </select>

    <insert id="insertHosJobTitle" parameterType="HosJobTitle" useGeneratedKeys="true" keyProperty="id">
        insert into hos_job_title
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="registrationFee != null">registration_fee,</if>
            <if test="workDays != null">work_days,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="registrationFee != null">#{registrationFee},</if>
            <if test="workDays != null">#{workDays},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateHosJobTitle" parameterType="HosJobTitle">
        update hos_job_title
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="registrationFee != null">registration_fee = #{registrationFee},</if>
            <if test="workDays != null">work_days = #{workDays},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHosJobTitleById" parameterType="Long">
        delete from hos_job_title where id = #{id}
    </delete>

    <delete id="deleteHosJobTitleByIds" parameterType="String">
        delete from hos_job_title where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>